

.cmp 
{
    box-sizing: border-box;
    margin: 0;

    & * {
        box-sizing: border-box;
    }

    & *:first-child
    {
        margin-top: 0;
    }

    & *:last-child 
    {
        margin-bottom: 0;
    }
}